@media only screen and (max-width: 768px) {
	.toc {
		display: none;
	}
	.page-content .wrapper {
		margin-left: auto;
	}
}
.toc {
	position: fixed;
	float: left !important;
	top: 0;
	left: 0;
	max-width: 300px;
	margin-left: 1em;
	padding-right: 1em;
	margin-top: 5.5em !important;
	margin-bottom: 1em;
	height: 100%;
}

@media only screen and (max-width: 1368px) {
	.page-content .wrapper {
		margin-left: 300px;
	}
}