---
layout: page
title: Home
permalink: /
---

<!-- Page Header -->
<!--
	{% if page.background %}
		<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
		<header class="masthead">
  {% endif %}
-->

	{% include search-lunr.html %}
	
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" type="image/png" href="/assets/icon/icon.png" />
	<style>
		h3 { 
			display: block;
			font-family: "Comic Sans MS", cursive, sans-serif;
			font-size: 2em;
			margin-top: 1.5em;
			margin-bottom: 0.2em;
			margin-left: 0;
			margin-right: 0;
			font-weight: bold;
		}
	</style>

</head>

<!-- Pagination links before posts-->
<div >
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" >
		Previous
		</a>
	{% else %}
		<span>This is the first page</span>
	{% endif %}
	| <span class="page_number ">
		Page: {{ paginator.page }} of {{ paginator.total_pages }}
	</span> | 
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" >Next</a>
	{% else %}
		<span >This is the last page</span>
	{% endif %}
</div>

<div class="list-group">
	{% for post in paginator.posts%} 	<!--order by date and default "reversed"-->
	<div class="list-group-item">

		<!-- title -->
		<a href="{{ post.url }}">
			<h3 class="list-group-item-heading">{{ post.title }}</h3>
		</a>
		
		<!-- date -->
		<p>
			📅 
			{% if post.published %}
				<font size="3" color="#0000ee">{{ post.published | date: '%B %d %Y' }}</font>
			{% else %}
				<font size="3" color="#0000ee">{{ post.date | date: '%B %d %Y' }}</font>
			{% endif %}
		</p>

		<!--
		<h6 class="list-group-item-heading">{{ post.published | date: '%B %d,%Y' }} | (Last Update : {{ post.date | date: '%B %d, %Y' }})</h6>
		
		{% for tag in post.tags %}
			<a class="label label-default" href="/tags/#{{ tag | slugify }}">{{ tag }}</a>
		{% endfor %}
		
		{% if post.noimage %}
		{% else %}		
		<img
			alt="{{ post.title }}"
			src="/assets/images/{{post.id}}/top.jpg" class="img-responsive">
		{% endif %}
		-->
		
		<!-- excerpt -->
		<p>{{ post.excerpt | strip_html}} <a href="{{ post.url }}"> 🔗 Read more...</a></p>
	</div>
	{% endfor %}
</div>

<!-- Pagination links after posts-->
<div >
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" >
		Previous
		</a>
	{% else %}
		<span>This is the first page</span>
	{% endif %}
	| <span class="page_number ">
		Page: {{ paginator.page }} of {{ paginator.total_pages }}
	</span> | 
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" >Next</a>
	{% else %}
		<span >This is the last page</span>
	{% endif %}
</div>