---
layout: default
---

<!-- Post Header -->
<style type="text/css">
	header.intro-header{
		background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')
	}
	div.post-nav {
		font-size: 20px;
		margin-top: 1em;
		margin-bottom: 1em;
		display: flex;
	}
	div.post-nav div {
		/* flex-grow, flex-shrink, flex-basis */
		flex: 1 1 0;
	}
	div.post-nav-next {
		text-align: right;
	}
</style>

<header class="intro-header" >
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="post-heading">
					<h1>{{ page.title }}</h1>
					{% if page.subtitle %}
						<h2 class="subheading">{{ page.subtitle }}</h2>
					{% endif %}
					<span class="meta">
						Posted by 
							{% if page.author %}
								{{ page.author }}
							{% else %}
								{{ site.title }}
							{% endif %} 
						on 
							{{ page.published | date: "%B %-d, %Y" }}
						{% if page.published != page.date %}
							, updated on 
							{{ page.date | date: "%B %-d, %Y" }}
						{% endif %}
					</span>
					<div class="tags"><br>Tags: 
						{% for tag in page.tags %}
						<a class="tag" href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
						{% endfor %}
					</div>
					<br>
				</div>
			</div>
		</div>
	</div>
</header>


<!-- Post Content -->
<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">

				<!--{{ content }} <!-- This line can not delete-->
				{{ post.content | remove: post.excerpt }} 	<!-- remove excerpt from posts -->
			</div>
		</div>
	</div>
	
	<!-- share buttons -->
	<br> <!-- br 是空行，hr是加一条直线-->
	<div align="right">
		{% include share-buttons.html %}
	</div>
	
	<!-- mathjax -->
	{% if page.mathjax  %}
		<script type="text/javascript" async src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
	{% endif %}
	
	<!-- page-piganation-->
	<hr>	<!-- br 是空行，hr是加一条直线-->
	<div class="post-nav">
		<div>
			{% if page.previous.url %}
				<a href="{{page.previous.url}}">&laquo;&nbsp;PREVIOUS: {{page.previous.title}}</a>
			{% endif %}
		</div>
		<div class="post-nav-next">
			{% if page.next.url %}
				<a href="{{page.next.url}}">NEXT: {{page.next.title}}&nbsp;&raquo;</a>
			{% endif %}
		</div>
	</div>
</article>
