---
layout: default
---

<!-- Post Header -->
<style type="text/css">
	header.intro-header{
		background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')
	}
	div.post-nav {
		font-size: 20px;
		margin-top: 1em;
		margin-bottom: 1em;
		display: flex;
	}
	div.post-nav div {
		/* flex-grow, flex-shrink, flex-basis */
		flex: 1 1 0;
	}
	div.post-nav-next {
		text-align: right;
	}
	div.spacing-2x {
		line-height: 200%;
	}
	h3-publication { 
		display: block;
		font-family: "Comic Sans MS", cursive, sans-serif;
		font-size: 1.5em;
		margin-top: 0;
		margin-bottom: 0.4em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
		color:grey;
	}
</style>

<header class="intro-header" >
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="post-heading">
					<!-- for post -->
					{% if page.categories[0] == "post" %}
						<!-- tile -->
						<h1>{{ page.title }}</h1>
						{% if page.subtitle %}
							<h2 class="subheading">{{ page.subtitle }}</h2>
						{% endif %}
						<!-- meta: author, date, etc -->
						<div class="meta"><div class="spacing-2x"><p>
							Posted by 
								{% if page.author %}
									{{ page.author }}
								{% else %}
									{{ site.title }}
								{% endif %}
								
							{% if page.published == page.date %}
								on
									{{ page.date | date: "%B %-d, %Y" }}
							{% else %}
								on
									{{ page.published | date: "%B %-d, %Y" }}
								, updated on 
									{{ page.date | date: "%B %-d, %Y" }}
							{% endif %}
						</p></div></div>
						<!-- tags -->
						<div class="tags"><div class="spacing-2x"><p>
							🏷️ Tags:
							{% for tag in page.tags %}
								<a class="tag" href="/tags/#{{ tag }}" title="{{tag}}">{{tag}}</a>
								{% if tag != page.tags.last %},{% endif %}	<!-- split with ',' -->
							{% endfor %}
						</p></div></div>
					{% endif %}

					<!-- for publication -->
					{% if page.categories[0] == "publication" %}
						<!-- tile -->
						<h3-publication>{{ page.title }}</h3-publication>
						{% if page.subtitle %}
							<h4 class="subheading">{{ page.subtitle }}</h4>
						{% endif %}
						<!-- meta: author, date, etc -->
						<div class="meta"><div class="spacing-2x"><p>
							Authored by
								{% if page.author %}
									{% if page.author == "Meixiu Yu" %}
										<a href="http://shxy.hhu.edu.cn/2017/0307/c3223a45183/page.htm">{{ page.author }}</a>,
									{% else %}
										{{ page.author }},
									{% endif %}
								{% else %}
									{{ site.title }},
								{% endif %} 
							Published in {{ page.date | date: "%Y" }}
						</p></div></div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</header>


<!-- Post Content -->
<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">

				<!--{{ content }} <!-- This line can not delete-->
				{{ post.content | remove: post.excerpt }} 	<!-- remove excerpt from posts -->
				
				<!-- add a python tools hyperlink if 'python' appears in tags-->
				{% if page.tags contains "Python" or page.tags contains "python" %}
					<a href="/tools#python-tools">Python tools</a>
				{% endif %}
			</div>
		</div>
	</div>
	
	<!-- Related contents -->
	<div class="relatedPosts">

		<!-- for post -->
		{% if page.categories[0] == "post" %}
		
			<h2>Related</h2>

			{% assign maxRelated = 4 %}
			{% assign minCommonTags =  1 %}
			{% assign maxRelatedCounter = 0 %}

			{% for post in site.posts %}

				{% assign sameTagCount = 0 %}
				{% assign commonTags = '' %}

				{% for tag in post.tags %}
					{% if post.url != page.url %}
						{% if page.tags contains tag %}
							{% assign sameTagCount = sameTagCount | plus: 1 %}
							{% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
							{% assign commonTags = commonTags | append: tagmarkup %}
						{% endif %}
					{% endif %}
				{% endfor %}

				{% if sameTagCount >= minCommonTags %}
					<div>
						<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}{{ commonTags }}</a>
					</div>
					{% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
					{% if maxRelatedCounter >= maxRelated %}
						{% break %}
					{% endif %}
				{% endif %}

			{% endfor %}
		{% endif %}
	</div>

	<!-- share buttons -->
	<br> <!-- br 是空行，hr是加一条直线-->
	<div align="right">
		{% include share-buttons.html %}
	</div>
	
	<!-- mathjax -->
	{% if page.mathjax  %}
		<script type="text/javascript" async src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
	{% endif %}
	
	<!-- back to top button -->
	<script src="/js/vanilla-back-to-top.min.js"></script>
	<script>addBackToTop()</script>
	
	<!-- page-piganation-->
	<hr>	<!-- br 是空行，hr是加一条直线-->
	<div class="post-nav">
		<div>
			{% if page.previous.url %}
				<a href="{{page.previous.url}}">&laquo;&nbsp;PREVIOUS: {{page.previous.title}}</a>
			{% endif %}
		</div>
		<div class="post-nav-next">
			{% if page.next.url %}
				<a href="{{page.next.url}}">NEXT: {{page.next.title}}&nbsp;&raquo;</a>
			{% endif %}
		</div>
	</div>
</article>