<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		
		<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/icon/favicon.ico">

		<!--Title-->
    <title>
      {% if page.title %}
        {{ page.title }} | {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
		
		<!--Author-->
		{% if page.author %}
			<meta name="author" content="{{ page.author }}" />
		{% else %}
			<meta name="author" content="{{ site.title }}" />
		{% endif %}
				
    <!-- Description/excerpt -->
    {% if page.excerpt %}
      <meta name="description" content="{{ page.excerpt }}" />
    {% else %}
      <meta name="description" content="{{ site.description }}">
    {% endif %}
		
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<link rel="stylesheet" href="{{ site.baseurl }}/js/reveal.js/css/reveal.css">
		{% if page.theme %}
			<link rel="stylesheet" href="{{ site.baseurl }}{{ page.theme }}" id="theme">
		{% else %}
			<link rel="stylesheet" href="{{ site.baseurl }}/js/reveal.js/css/theme/black.css" id="theme">
		{% endif %}

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="{{ site.baseurl }}/js/reveal.js/lib/css/zenburn.css" id="highlight-theme">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="{{ site.baseurl }}/js/reveal.js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

	</head>

	<body>
		<div class="reveal">
			<div class="slides">
        <section data-markdown
                 data-separator="<!--horizontal-->"
                 data-separator-vertical="<!--vertical-->"
								 data-notes="^Note:">
					<script type="text/template">
{%
						assign lines = content | newline_to_br | strip_newlines | split: "<br />"
%}{%
						for line in lines
%}{% 
							assign processed_line = line
								| replace:'<fragment/>','<!-- .element: class="fragment" -->'
								| replace:'<background>','<!-- .slide: data-background="'
								| replace:'</background>','" -->'
								| replace:'<backgroundimage>','<!-- .slide: data-background="'
								| replace:'</backgroundimage>','" --> '
								| replace:'<backgroundimageopacity>','<!-- .slide: data-background-opacity="'
								| replace:'</backgroundimageopacity>','" -->'
%}{%
							assign first_char = line | strip
								| slice: 0,1
%}{%
							if first_char == '+'
%}{%
								assign processed_line = processed_line
									| replace_first: '+','+ <!-- .element: class="fragment" -->'
%}{%
							endif
							%}{{ processed_line }}{% comment %}Following line break is important{% endcomment %}
{%
						endfor
%}
          </script>
				</section>
			</div>
		</div>

		<script src="{{ site.baseurl }}/js/reveal.js/lib/js/head.min.js"></script>
		<script src="{{ site.baseurl }}/js/reveal.js/js/reveal.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: 'default', // default/cube/page/concave/zoom/linear/fade/none
				
				{% if page.width %}width: {{ page.width }}, {% endif %}
				{% if page.height %}height: {{ page.height }}, {% endif %}

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: '{{ site.baseurl }}/js/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '{{ site.baseurl }}/js/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{{ site.baseurl }}/js/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{{ site.baseurl }}/js/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '{{ site.baseurl }}/js/reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: '{{ site.baseurl }}/js/reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					
					<!--set denpendencies in _config.yml-->
					{% if site.reveal_dependencies %}
					, {{ site.reveal_dependencies }}
					{% endif %}
				]
			});

		</script>

	</body>
</html>
